@charset "utf-8";
/* CSS Document */
@media screen and (min-width: 1550px) and (max-width: 20000px){

#one{
  background: green;
  width: 100%;
}
#two {
  display: none;
  background: blue;
  width: 100%;
}
#three{

  display: none;
  width: 100%;
}
#four {
  display: none;
  background: blue;
  width: 100%;
}
#five {
  display: none;
}

  body {
  font-size:128%;
  background: none;
  }

  #wrapper {
  width:70%;
  }

  h3{
      font-size: 1.4em;
  }
  #header-right{
    width:60%;
    float:right;
  }
  #logotextbox{
    width: 70%;
  }

  #logotextbox h3{
    text-align: right;
    line-height: 1.2em;
  }
  #contact-b{
    width: 50%;
  }
  #intro2{
    margin-top: 20px;
    width: 80%;
  }
  #intro2 h3{
    font-size: 1.2em;
  }

.img-sample p{
 top: 100px;
 left: 0;
  }

  #skill-icon img{
    width: 12%;
  }
}


@media screen and (min-width:1000px) and (max-width: 1550px) {
/*           ----------NUMBER TWO--------         */

  #one{
    display: none;
  }
  #two {
      display:block;
      background: blue;
      width: 100%;
  }
  #three{
    display: none;
  }
  #four {
    display: none;
  }

  #five {
    display: none;
  }

  body {

  }

  #wrapper {
  width:85%;
  }

  #header-right{
    width:40%;
    float:right;
  }
  #logotextbox{
    width: 100%;
  }
  #contact-b{
    width: 100%;
  }

  #intro2{
    margin-top: 20px;
    width: 70%;
  }
  #intro2 h3 {
  	z-index: 2;
  	font-size: 140%;
  	padding: 2%;
  }

  .img-sample h3{
  	font-size: 170%;
  	position: absolute;
  	top: -30px;
  	left: 0px;
  	width: 100%;
  	text-align: left;
  	z-index: 100;
  }

  .img-sample p{
   top: 100px;
   left: 50px;
    }

    #logotextbox h3{
      text-align: right;
      line-height: 1.2em;
    }

    #skill-icon img{
      width: 12%;
    }

}

@media screen and (min-width:761px) and (max-width: 999px) {
  /*           ----------NUMBER THREE--------         */
  #one{
    display: none;
  }
  #two{
    display: none;
  }
  #three{
    display:block;
    background: orange;
  }
  #four{
    display:none;
  }

  #five {
    display: none;
  }

  .width{
    display:inline;
  }

  #wrapper {
  width:98%;
  }

  body {
    font-size:120%;
  }

  #header-left {
    width:40%;
    float: left;
    margin: auto;
  }
  #header-right {
    width:59%;
    float: right;
    margin: auto;
  }

  #logo-img{
    width:100%;
    float: none;
    margin: auto;
  }


#logotextbox {
 float:left;
 margin:auto;
 width:49%;
 margin-top: 11%;
 }

 #contact-b{
  width:49%;
  margin-top: 10%;
 }
 #logotextbox h3{
font-size: 1.0em;
}

 #intro2{
   clear:both;
   width:75%;
 }

 #intro2 h3 {
  z-index: 2;
  font-size: 100%;
 }

 .img-sample h3{
   font-size: 120%;
   position: absolute;
   top: -30px;
   left: 0;
   width: 100%;
   text-align: left;
   z-index: 100;
 }

 .img-sample p{
  top: 80px;
  left: 50px;
   }

}


@media screen and (min-width: 481px) and (max-width: 760px) {
/*           ----------NUMBER four  PURPLE--------         */

  #one, #one.width{
    display: none;
  }
  #two{
    display: none;
  }
  #three{
    display: none;
  }
  #four {
    display: block;
    background: purple;
  }
  #five {
    display: none;
  }

  #wrapper {
   	margin:auto;
    padding: 0;
   	width:97%;
   }

  #header-left, #logo-img{
   width:100%;
   float: none;
   margin: auto;
  }

  #logotextbox {
   float:left;
   margin:auto;
   margin-top:auto;
   width:45%;
   margin-top: 1px;
   font-size: .9em;
  }

  #logotextbox h3{
   text-align: left;
   padding:5% 1% 5% 1%;
   font-size: 1.2em;
  }

  #contact-b {
   float:right;
   margin:auto;
   width:49%;
  }

  #contact-b li.t-alignright h3{
    margin-top: 0;
  }

  #intro2{
    width:85%;

  }
  #intro2 h3{
    font-size: 103%;
    padding: 2% 2% 2% 12% ;
  }

  #w-sample-c{
  	float:none;
  	width:100%;
  }

  #w-sample-d{
    float:none;
    width:100%;
  }


  #w-sample-wp{
  	float:none;
  	width:100%;

  }

  #w-sample-a{
  	float:none;
  	width:100%;

  }
  .img-sample h3{
  	font-size: 150%;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 100%;
  	text-align: left;
  	z-index: 100;
  }


 .img-sample p{
  top: 150px;
  left: 50px;
   }

   #skill-icon img{
   	width: 24%;
   }

}

/* Smartphones (portrait and landscape) ----------- */
/*(min-width: 299px) and (max-width: 480px)*/
@media screen and (min-width: 299px) and (max-width: 480px){
  /* -------------FIVE---------------   */
/* Styles */
#one{
  display: none;
}
#two{
  display: none;
}
#three{
  display: none;
}
#four {
  display: none;
}
#five {
  display: block;
  background: black;
}


body{
     margin: 0;
     padding: 0;

   }

#wrapper {
   	margin:auto;
    padding: 0;
   	width:97%;
   }

  #header-left, #logo-img{
   width:100%;
   float: none;
   margin: auto;
  }

  #header-right{
    background: none;
  }

  #logotextbox {
   float:left;
   margin:auto;
   margin-top:9%;
   width:45%;
   margin-top: 1px;
  }

  #logotextbox h3{
   text-align: left;
   padding:5% 1% 5% 1%;
   font-size: .85em;
   line-height: 1.8em;

  }

  #contact-b {
   float:right;
   margin:auto;
   margin-top: 0;
   width:49%;
  }

#contact-b li.t-alignright h3{
  font-size: 1.3em;
  padding-bottom:12%;
  line-height: 1.1em;
  margin-top: 0;
  padding-top: 0;
}


 #intro2{
   width:99%;
 }

 #intro2 h3 {
  z-index: 2;
  font-size: 80%;
  padding: 3%;
 }

 #w-sample-c{
  float:none;
  width:100%;
  margin:auto;
 }

 #w-sample-wp{
  float:none;
  width:100%;
 }

 #w-sample-d{
  float:none;
  width:100%;
 }

 #w-sample-a{
  float:none;
  width:100%;
 }

 .img-sample h3{
  font-size: 100%;
  position: absolute;
  top: -20px;
  left: 0px;
  width: 100%;
  text-align: left;
  z-index: 100;
 }
 .img-sample p{
  top: 70px;
  left: 50px;
   }

   #skill-icon img{
     width: 24%;
   }

}
