


*  {
	padding:0;
	margin:0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
li{
	list-style: none;
}
.width{
	color:red;
}

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
	background: green;

}
colors{
	background:#680002;/*darkred*/
	background:#b7f2f6;/*lightblue*/
	background:#ffef4f;/*yellow*/
	border-top: 9px solid #992606;/*med-red*/
	border-bottom:  19px solid #ffef4f;/*yellow*/
	background:rgb(183,242,246); /*  RGB lightblue*/

}

#wrapper {
	 max-width:1400px;
	 width:90%;
	 margin:2px auto ;
	 background-color:white;

	}

.nav {
	display:none;
}

#home_container {
 	width:80%;
 	margin:0 auto;
 	background:#ccc;
 	border-radius: 15px;
 	border: 5px solid black;
 	padding: 2%;
 }

 /* width:74.468085%  this is three-fourths*/
/* width:31.914893%  this is one third*/
/* width:48.936170%  this is one half*/
/* width:23.404255%  this is one fourth*/
/* 14.893617%  this is one eighth*/
/* width:65.957446%  this is two-thirds*/

header {
	width:100%;
	margin-top:1px;
	margin: auto;
	overflow:none;
	display: block;
}

#header-left {
	/*width:940px;*/
	width:60% ;
	float:left;

}

#logo-img  {
	float:left;
	max-width:100%;

	/*background: green;*/
	background: url(../images/logo-bg.gif) no-repeat;
	background-position: center;
	background-size: contain;
	overflow: hidden;
	position: relative;
	left:0px;
	right:0px;


	}
#logo-img img, w-sample img {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.shad {
		z-index: 3;
		position: relative;
		opacity: .1;
		top:0px;
		left:0px;
}
#sun {
	z-index:240;
	position: absolute;
	top:-250px;
	left:0;
	opacity: 0.15;
}
#sun img{
	z-index:240;

}

#logotextbox {
	width:38%;
	float:right;
	background:#680002;/*darkred*/
 	background:#b7f2f6;/*lightblue*/
	background:#ffef4f;/*yellow*/
	background: none;
 	overflow:hidden;
	border-top: 9px solid #992606;/*med-red*/
	border-bottom:  19px solid #ffef4f;/*yellow*/
}

#contact-b {
	width:38%;
	float:right;
	/*background: #fff9a6;*/
}
#contact-b li {

}

#contact-b li.t-alignright h3{
	text-align: right;
	background: url(../images/men-bg.gif) no-repeat;
	background-position: right;
	background-size: contain;
	text-transform: capitalize;
  font-variant: small-caps;
  color: white;
	margin-top: 2%;
  padding-right:2%;
  font-size: 1.6em;
  line-height: 1.6em;
  padding-top: 1%;
}


#intro2 {
	width: 70%;
	clear: both;
	margin:80px auto 20px auto;
	margin-top: 5%;
	overflow: auto;
	/*background: url(../images/bg-intro-f.gif) no-repeat;*/
	/*background-position: center;
	background-size: contain;*/
	background: #fff9a6;
}

#intro2 h3 {
	z-index: 2;
	font-size: 160%;
	padding: 12% 12% 12% 16%;
	padding: 2%;
}

.f-right{
	float:right;
	display: inline-block;
	width: 20%;
	height: 100%;
}

.f-left  {
	float:left;
	display: inline-block;
	width: 20%;
	height: 100%;
}

#intro h3{
	position:absolute;
	top:30%;
	left:20%;
	z-index: 3;
	margin:auto;
	width:50%;
}

.explosion{
	position:relative;
	width: 100%;
	z-index: 1;
	margin: auto;
}

#menu-fixed{
	position:fixed;
	max-width: 40%;
	min-width: 300px;
	top:0;
	right:0;
	z-index: 99;
}
#res-cont{
	float:right;
	max-width: 40%;
	min-width: 300px;
}

#tools{
	display: block;
	clear:both;
	width: 100%;
}
/* **********************work Sample styles **********/
sample-box{
	width:100%;
}
#w-sample-c{
	float:left;
	width:49%;
	min-height: 400px;
}


#w-sample-wp{
	max-width: 100%;
	float:right;
	width:49%;
	overflow: hidden;
}

#w-sample-a{
	max-width: 100%;
	float:left;
	width:49%;
	overflow: hidden;

}

.img-sample{
	position: relative;
	width: 100%;
	display: inline-block;
	overflow: hidden;
}

 .img-sample img{
	 vertical-align: top;
	 transition: all .2s ease-in-out;
}

.img-sample img:hover {
		cursor:crosshair;
		transform: scale(1.15);
}

.img-sample h3{
	position: absolute;
	top: 180px;
	left: -34px;
	width: 100%;
	text-align: left;
}

.img-sample h3 span {
   color: white;
   letter-spacing: 0;
   background: rgb(104, 0, 2); /* fallback color */
   background: rgba(104, 0, 2, 0.8);/* dark red rgb */
	 background: rgba(0, 0, 2, 0.8);
   padding: 6px 20px 6px 20px;
	 font-size: 1.2em;
}

.img-sample p{
	position: absolute;
	top: 260px;
	left: 0;
	line-height: 2.3em;
	text-align: left;

}

.img-sample p span{
	display: inline;
	color:white;
	padding: 10px 10px 10px 10px;
	background:rgb(183,242,246); /*  RGB lightblue*/
	background: rgba(104, 0, 2, 0.8);/* dark red rgb */
}

/* **********************work Sample styles **********/
 h2 {
 	font-size:1.9em;
 	line-height:1.3em;
 	text-transform:capitalize;
  font-variant:small-caps;
  text-align: center;
 }
 h3 {
 	text-transform:capitalize;
  font-variant:small-caps;
 	text-align:left;
 	color:black;
 	padding-left:5%;
	padding-right:5%;
 	font-size: 1.4em;
 	line-height:1.7em;
 	padding:7%;
 }
  h5  {
	text-transform:capitalize;
  font-variant:small-caps;
  color:white;
  font-size:1.2em;
 }


 h5:hover, nav ul li.nav-on a   {
  		/*text-transform:capitalize;
     font-variant:small-caps;
     color:black;
     font-size:1.4em;
     text-decoration: underline;*/
    }
img {
	display:inline;
	max-width:100%;

	z-index: 1;
}

#bio {
	/*width:300px;*/
	width:31.914893%;
	float:right;
}

#main-home  {
	/*width:620px;*/
	width:100%;
	margin:20px auto ;
}
#prosection  {
	/*width:620px;*/
	width:100%;
	background:black;
	margin:0px auto ;
}

#social  {
margin: 5% auto;
width:23.404255%;
}

#social ul li,#social1 ul li {

	 list-style-type:none;
}

#social ul li a{
	 text-decoration:none;
}

#social1  {
margin: 5px auto;
width:23.404255%;

}

#resume {
	margin:0 auto;;
}
